<section class="horz-stripe">&nbsp;</section>
<div class="pg pg-artists">
  <ul>
    {{#each this }}
    <li class="entry artist" data-id="{{ id }}">
      <header>
        <a href="#artists/{{ name_slug }}/" class="img">
          <img src="{{ img }}" />
        </a>
        <div class="info">
          <h2><a href="#artists/{{ name_slug }}/">{{ name }}</a></h2>
          <p>{{ location }}</p>
        </div>
      </header>
    </li>
    {{/each}}
  </ul>
</div>