<section class="horz-stripe">&nbsp;</section>
<div class="pg pg-songs">
  <ul>
    {{#each this}}
    <li class="song">
      <header>
        <a href="#song/{{ title_slug }}/" class="album">
          <img src="{{ art }}" />
        </a>
        <div class="info">
          <h2><a href="#song/{{ title_slug }}/">{{ title }}</a></h2>
          <p>{{ byline }} //// <a href="#">{{ artist.name }}</a></p>
        </div>
      </header>
    </li>
    {{/each}}
  </ul>
</div>