<header class="header">
  <h2>
    <span>Finnish</span> Music Project
    <span class="flag"></span>
  </h2>
</header>
<div class="artist-detail">

  <div class="deck">

    <div class="card intro transitional fast onstage">
      <div class="img"></div>
    </div>

    {{#each artists}}
      <div class="card artist info transitional fast offstage">
        <img src="{{ photo }}" class="img" />
      </div>
    {{/each}}

  </div>

  <div class="horz-bar">
    <h1 class="name intro transitional fast onstage">Tervetuloa!</h1>

    {{#each artists}}
      <h1 class="name artist transitional fast offstage">{{ name }}</h1>
    {{/each}}
  </div>

  <div class="content-wrapper">
    <ul class="content-area transitional fast onstage">
      <li class="snippet">
        <p>
          Suomi Musiikki Projektin tarkoitus on tarjota mieltä ylentävää musiikkia suomalaisille omalla kielellään.
        </p>
        <p> 
          Kielestä riippumatta, hengellisen musiikin kuunteleminen inspiroi meitä ja saa meidät pyrkimään parempaan matkallamme kohti Jumalaa. Miten hienoa onkaan, jos tuota musiikkia voi kuunnella myös omalla äidinkielellään.
        </p>
        <p>
          Toivottavasti nautit näistä äänityksistä. Jos olet musikaallinen, voit jakaa lahjojasi toisten kanssa lataamalla omaa musiikkiasi. Toivottavasti tämän nettisivun arkisto kasvaa ja yhä useampia ihmisiä siunataan Jumalan hengellä musiikin kautta. Tätä tarkoitusta varten sinun apuasi tarvitaan.
        </p>
        <p>
          Ota yhteyttä:
          <a href="mailto:dallinq@gmail.com">Dallinq@gmail.com</a>
        </p>
        <p style="text-align:right;">
          <a href="#" class="explore">Explore the music &raquo;</a>
        </p>
      </li>
    </ul>

    {{#each artists}}
      <ul class="content-area artist-songs transitional fast offstage">
        {{#each songs}}
          <li class="song">
            {{#if ../../canPlayAudio}}
              <a href="#" class="icon play">Play</a>
              <span class="play title">{{ title }}</span>
              <a href="#" class="icon add">Add to Playlist</a>
            {{else}}
              <span class="title first">{{ title }}</span>
            {{/if}}
            <a href="/download{{ file }}" class="icon download">Download</a>
          </li>
        {{/each}}
        <li class="snippet">
          <p>{{ bio }}</p>
        </li>
      </ul>
    {{/each}}
  </div>
</div>