<header class="header">
  <h2>
    <a href="#">
      <span>Finnish</span> Music Project
      <span class="flag"></span>
    </a>
  </h2>
</header>
<div class="artist-detail">
  <div class="img-frm info">
    <img src="{{ model.photo }}" class="img" />
    <div class="bio">
      <p>{{{ model.bio }}}</p>
    </div>
  </div>

  <div class="horz-bar">
    <h1>{{ model.name }}</h1>
  </div>
  <ul class="song-list">
    {{#each model.songs}}
      <li>
        {{#if ../canPlayAudio}}
          <a href="#" class="icon play">Play</a>
          <span class="play title">{{ title }}</span>
          <a href="#" class="icon add">Add to Playlist</a>
        {{else}}
          <span class="title first">{{ title }}</span>
        {{/if}}
        <a href="/download{{ file }}" class="icon download">Download</a>
      </li>
    {{/each}}
  </ul>
</div>