<header class="header">
  <h2>
    <span>Finnish</span> Music Project
    <span class="flag"></span>
  </h2>
</header>
<div class="artist-detail">

  <div class="deck">

    <div class="card intro transitional fast onstage">
      <div class="img"></div>
    </div>

    {{#each artists}}
      <div class="card artist info transitional fast offstage">
        <img src="{{ photo }}" class="img" />
      </div>
    {{/each}}

  </div>

  <div class="horz-bar">
    <h1 class="name intro transitional fast onstage">Welcome</h1>

    {{#each artists}}
      <h1 class="name artist transitional fast offstage">{{ name }}</h1>
    {{/each}}
  </div>

  <div class="content-wrapper">
    <ul class="content-area transitional fast onstage">
      <li class="snippet">
        <p>
          The Finnish Music Project is meant to provide quality, uplifting songs to Finns in the their native language.
        </p>
        <p>
          There is a short supply of recordings such as these.  As a musical people, Latter-day Saints, or Mormons,
          find great joy in listening to hymns and other sacred music.  To hear this type of music in one's own language
          is all the better.  Sacred music expresses the desires of heart to be closer to God.  In the same way, this music
          can share God's love and inspiration with us.
        </p>
        <p>
          We hope you enjoy the wonderful recordings shared through this project.
        </p>
      </li>
    </ul>

    {{#each artists}}
      <ul class="content-area transitional fast offstage">
        {{#each songs}}
          <li class="song">
            {{#if ../../canPlayAudio}}
              <a href="#" class="icon play">Play</a>
              <span class="play title">{{ title }}</span>
              <a href="#" class="icon add">Add to Playlist</a>
            {{else}}
              <span class="title first">{{ title }}</span>
            {{/if}}
            <a href="/download{{ file }}" class="icon download">Download</a>
          </li>
        {{/each}}
        <li class="snippet">
          <p>{{ bio }}</p>
        </li>
      </ul>
    {{/each}}
  </div>
</div>